<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:fragment="${head}">
    <meta charset="UTF-8"/>
    <title>Coding Events</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
</head>

<body>

<!--navigation-->
<th:block th:fragment="navigation">
    <h1>Coding Events</h1>
    <nav class="nav">
        <p class="nav-item"><a class="btn nav-link" href="/events">All Events</a></p>
        <p class="nav-item"><a class="btn nav-link" href="/events/create">Create Event</a></p>
        <p class="nav-item"><a class="btn nav-link" href="/events/delete">Delete Event</a></p>
        <p class="nav-item"><a class="btn nav-link" href="/events/edit">Edit Event</a></p>
    </nav>
</th:block>
<!--nav end-->


</body>
</html>